################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EarthQuake.Persistence/obj
/EarthQuake.UnitTests/bin/Debug/net9.0
/EarthQuake.UnitTests/obj
/EarthQuake.IntegrationTests/bin/Debug/net9.0
/EarthQuake.IntegrationTests/obj
/EarthQuake.Persistence/bin/Debug/net9.0
/Geodynamics/Properties/PublishProfiles
/Geodynamics/EarthQuake.csproj.user
/EarthQuake.IntegrationTests/bin/Release/net9.0
/EarthQuake.Persistence/bin/Release/net9.0
/EarthQuake.UnitTests/bin/Release/net9.0
/EarthQuakeDataAutomate/bin
/EarthQuakeDataAutomate/obj
/EarthQuakeDataAutomate/Properties/PublishProfiles
/EarthquakeDashboard/EarthquakeDashboard/obj
/EarthquakeDashboard/EarthquakeDashboard/EarthquakeDashboard.csproj.user
/EarthquakeDashboard/EarthquakeDashboard/bin/Debug/net9.0
/EarthquakeDashboard/EarthquakeDashboard/.vs/EarthquakeDashboard
/EarthQuakeDataAutomate/logs
/EarthQuakeDataAutomate/EarthQuakeDataAutomate.csproj.user
/Geodynamics/EarthQuake.slnLaunch.user
