################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EarthQuake/FileContentIndex/0d3a6b9d-76d1-47d7-960b-98ff237858fd.vsidx
/.vs/EarthQuake/FileContentIndex/37d5df3b-7d16-41a9-af09-68e7db5874fe.vsidx
/.vs/EarthQuake/FileContentIndex/3c59f1fc-a00b-436a-8e80-6d1be8fcacfa.vsidx
/.vs/EarthQuake/FileContentIndex/54a49827-2e50-491c-b1fb-499fe80b2762.vsidx
/.vs/EarthQuake/FileContentIndex/5735e02d-f641-4f06-8c0f-cfa4082959e2.vsidx
/.vs/EarthQuake/FileContentIndex/b5fb8aed-74f1-4acf-bde9-fc1e2f482684.vsidx
/.vs/EarthQuake/FileContentIndex/8522529c-5b57-4284-b59f-7b0f5fd61950.vsidx
/.vs/EarthQuake/FileContentIndex/368095ad-2160-4311-b8e5-62da7a666d2e.vsidx
