################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EarthQuake.IntegrationTests/obj
/EarthQuake.IntegrationTests/bin/Debug/net9.0
/EarthQuake.Persistence/bin/Debug/net7.0
/EarthQuake.Persistence/obj
/EarthQuakeTests/bin/Debug
