.App {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  height: 100vh;
  margin: 0;
  position: relative;
}

/* Second Quadrant: Map */
.red {
  grid-column: 1;
  grid-row: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-container {
  width: 100%;
  height: 100%;
  border: 2px solid black;
}

/* First Quadrant */
.green,
.yellow,
.purple,
.orange {
  position: absolute;
  width: 25%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}

.green {
  background-color: green;
  top: 0;
  left: 50%;
}

.yellow {
  background-color: yellow;
  color: black;
  top: 0;
  left: 75%;
}

.purple {
  background-color: purple;
  top: 25%;
  left: 50%;
}

.orange {
  background-color: orange;
  top: 25%;
  left: 75%;
}

/* Third Quadrant */
.blue {
  grid-column: 1;
  grid-row: 2;
  border:1px solid whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

/* Scrollable container */
.table-wrapper {
  width: 100%;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  background-color: white;
  border-radius: 8px;
}

/* Table styling */
.earthquake-table {
  width: max-content; /* Allows table to shrink to content, not force container to stretch */
  border-collapse: collapse;
  color: black;
}

.earthquake-table th,
.earthquake-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
  white-space: nowrap;
}

/* Fourth Quadrant */
.pink {
  background-color: pink;
  grid-column: 2;
  grid-row: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}
.quadrant.green {
  background-color: #001a00;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.quadrant.green canvas {
  width: 100% !important;
  height: 100% !important;
  max-height: 100%; /* optional control over height */
}
.seismograph-wrapper{
  width: 100%;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  background-color: white;
  
}
